# Maven
target/
!target/NewsAggregator2-1.0-SNAPSHOT-shaded.jar

.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Build directories
build/

# IntelliJ
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# OS/system files
Thumbs.db
